.Square1, .Square2, .Square3, .Square4 {
    width: 100px;
    height: 100px;
    margin: 10px;
}

.Square1 {
    background-color: gray;
}

.Square2 {
    background-color: darkgray;
}

.Square3 {
    background-color: lightgray;
}

.Square4 {
    background-color: white;
}